/* Spacing is controlled by margin and padding */
/* p { 
    color: blue; 
} */

/* h1 {
    color: red;
    border: 1px solid black;
    padding: 10px;
    margin: 30px;
} */

.highlight {
    color: blue; 
    font-weight: bold;
    border: 1px solid black;
}

img {
    width: 450px;
    /* top - right - bottom - left   */
    /* margin: 30px 20px 30px 20px; */

    /* top & bottom - right & left   */
    margin: 30px 20px;

    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    /* margin-right: 20px; */
    /* margin-left: 20px; */
}