body {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

#taskInput {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#addBtn {
    padding: 8px 15px;
    margin-left: 5px;
    margin-top: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addBtn:hover {
    background-color: #0056b3;
}

#taskList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 300px;
}

#taskList li {
    background-color: white;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}


#taskList button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
}